
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px !important;
}

.container-fluid > .container-fluid {
    min-height: 675px;
}

.pad-top {
    padding-top:40px;
}

.marketing {
    margin-top: 50px;
}

.spacer-top {
    margin-top: 10px;
}

.spacer-bottom {
    margin-bottom: 10px;
}

/* Login CSS */

#login-dropdown {
    padding: 0px;
    min-width: 250px;
}

#login-dropdown .alert {
    margin-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.navbar-inverse {
 background-color: #2F3440 !important;
 border-color: #F5E5C0;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #F8CA4D;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
	background-color: transparent;
}

.navbar-inverse .navbar-brand {
	color: #F8CA4D !important;
        font-size: 24px;
}

.btn-primary {
	color: #fff;
	background-color: #215f8b;
	border-color: #215f8b;
}

.navbar-inverse .navbar-nav>li>a {
	color: #F5E5C0;
        font-weight: 600;
}

.pad-top {
    padding-top:40px;
}

.marketing {
    margin-top: 50px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li.active>a, .navbar-inverse .navbar-nav>li.active>a:hover, .navbar-inverse .navbar-nav>li.dropdown.open>a  {
	color: #F8CA4D;
}

.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #3F5666;
}

.navbar-inverse .navbar-nav > li.dropdown > ul.dropdown-menu
{
    border-radius: 5px;
    background-color: #2F3440;
    color: #F5E5C0;
}

.navbar-inverse .navbar-nav > li.dropdown > ul.dropdown-menu > li > a {
    color: #F5E5C0;
    padding: 10px 20px;
}

.navbar-inverse .navbar-nav > li.dropdown > ul.dropdown-menu > li > a:hover {
    background-color: #3F5666;
    color: #F8CA4D;
}

.carousel {
    height: 450px !important;
}
.carousel > .carousel-inner > .item {
    background-color: #F8CA4D;
    height: 450px;
}

.carousel > .carousel-inner > .item .carousel-caption {
    text-shadow: 0 2px 10px #2F3440;
    color: white;
    bottom: 50px;
}

#login-dropdown {
    background-color: #3F5666;
    color: #F8CA4D;
    border-radius: 5px;
}

#login-dropdown .btn-dark {
    font-size: 15px;
}

.featurette .featurette-heading {
    background-color: #2F3440;
    margin-top: 50px;
    color: #F8CA4D;
    padding: 20px;
    border-radius: 15px;
    /*color: #2F3440;*/
}

.featurette .featurette-heading .text-muted {
    color: #6d6d6d;
}

.featurette .lead {
    /*background-color: #2F3440;*/
    color: #2F3440;
    padding: 5px;
    font-size: 23px;
}

.featurette-divider {
    margin: 50px 0 !important;
}

/***********************************
 ************ BUTTONS **************
 ***********************************/

.btn-dark {
    background-color: #2F3440 !important;
    color: #F5E5C0 !important;
    border-color: #F5E5C0 !important;
}

.btn-dark:hover {
    color: #F8CA4D !important;
}

.btn-light {
    color: #2F3440 !important;
    font-weight: 600;
}

.btn-less-dark {
    background-color: #3F5666 !important;
    color: #F8CA4D !important;
    font-weight: 600;
}

.btn-less-dark:hover {
    background-color: #2F3440 !important;
}

/***********************************
 **** NOTIFICATION MESSAGES ********
 ***********************************/
.error-message {
    font-weight: 600;
    color: #EA6045;
}

.error-message > span {
    text-align: center;
}

/***********************************
 ************* MODALS **************
 ***********************************/
.modal-dialog > .modal-content {
    background-color: #3F5666;
    color: #F8CA4D;    
}

.modal-dialog > .modal-content > .modal-header {
    background-color: #2F3440;
    font-size: 20px;
}

.modal-dialog > .modal-content > .modal-header > .close {
    color: #F8CA4D;
    opacity: .9;
    font-size: 30px;
    padding: 10px;    
}

#recommendationsModal table {
    font-weight: 600;
}

#recommendationsModal th {
    color: #F8CA4D;
}

#recommendationsModal td {
    color: #FFFFFF;
}

#recommendationsModal .modal-dialog {
    width: 80%;
}

#recommendationsModal table td {
    word-wrap: break-word;
}

#deleteAppModal .modal-dialog {
    width: 420px;
    font-size: 18px;
}

#deleteAppModal .buttons-container {
    padding: 15px;
}

#deleteAppModal .buttons-container input[type=button], 
#deleteAppModal .buttons-container input[type=submit] {
    font-size: 18px;
    margin-left: 10px;
}

/*    --------------------------------------------------
	:: Login Section
	-------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #3686be;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
	margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
	text-align: center;
	display: block;
}

.page-title {
    border-bottom: 4px solid #F8CA4D;
    padding-left: 24px;
    margin-bottom: 35px;
    margin-top: 25px;
    text-transform: uppercase;
}

/*    --------------------------------------------------
	:: Inputs & Buttons
	-------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
	background-color: #3686be;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}


/************************
******* DASHBOARD *******
*************************/

.dashboard .sidebar ul {
    padding: 40px 20px;
}

.dashboard .sidebar ul li:first-child {
    font-size: 20px;
    margin-bottom: 20px;
}

.left-menu .btn-less-dark {
    padding: 8px 25px;
}

.left-menu .dashboard-sidebar > ul > li.active > a {
    color: #3F5666;
    background-color: #F5E5C0;
    border-radius: 5px;
}

.left-menu .dashboard-sidebar > ul > li > a {
    cursor: pointer;
    color: #2F3440;
    font-weight: 700;
    font-size: 16px;
}

.main-information {
    min-height: 500px;
}

.main-information > .tab-content {
    padding: 0 25px;
    border: solid 1px #F5E5C0;
}

.main-information > .tab-content .page-header {
    padding: 40px 0 5px 10px;
    margin: 0 0 20px;
    border-bottom: 3px solid #F8CA4D;
}

.main-information .nav-tabs>li.active>a
{
    color: #3F5666;
    background-color: #F5E5C0;
    font-weight: 600;
    border-radius: 0;    
}

/* Dashboard CSS */

.dashboard-content {
    padding-top: 50px;
}

.dashboard-content .page-title {
    padding-left: 0;
    font-size: 27px;
    text-align: center;
    padding-bottom: 8px;
    margin-top: 5px;
}

.no-apps {
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: 13% 15% 0;
/*    background-color: #F5E5C0;
    border-radius: 13px;    */
}
.no-apps p {
    font-size: 30px;
    font-style: italic;
    color: #3F5666;
}

.no-apps .btn-dark {
    padding: 10px 30px;
    font-size: 17px;
}


.dashboard-sidebar {
    padding-bottom: 9px;
    margin-top: 40px;
}

.dashboard-sidebar > ul > li.active > a {
    text-decoration: none;
    background-color: #eee;
}

.dashboard-sidebar > ul > li > a:hover {
    border-radius:5px;
}

#appDetails div.modal-footer,
#appRecommendations div.modal-footer {
    border-top: 0px;
    border-bottom: 0px;
}

#appStatisticsByAccess,
#appStatisticsByPreference {
    min-height:500px;
}

.app_item > span {
    display:none;
}

.app_item:hover > span {
    display:block;
}

/***************************
******** FOOTER ************
****************************/

footer {
    height: 60px;
    background-color: #2F3440;
    color: #F8CA4D;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px 50px;
    font-weight: 600;
}

footer a {
    color: #F5E5C0;
}

footer a:hover {
    color: #F8CA4D;
}

/*
** CODE TO EMBED
*/

#display-data .row > .col-md-12{
    margin-bottom: 5px;
}

#advisr-recommendations {
    margin-bottom: 30px;
}
    
#advisr-recommend img {
    max-width: 100%;
    height: auto;
}